{% extends 'base.html' %}
{% block content %}
<h1>Кредиты с финансовой защитой</h1>
<p>Банку и клиенту хочется быть уверенными в том, что не возникнет никаких трудностей с возвратом долга.<br>
   Поэтому была создана финансовая защита — пакет услуг, при подключении которого клиент защищает<br>
   заёмную сумму от непредвиденных обстоятельств. Если наступит страховой случай — компания выплатит<br>
   долг банку и клиент ничего не будет должен.Человек напрямую общается только с финансовой организацией,<br>
   которая становится посредником между заёмщиком и страховой компанией. В его кредитном договоре <br>
   прописывается, что в случае, если что-то произойдёт, клиенту поможет организация-страхователь.</p>
<a class="btn btn-primary" href="{% url 'credit_form' %}">Рассчитать кредит</a>
{% endblock %}
