{% extends 'base.html' %}
{% block content %}
{% include 'main/menu.html' %}


<h1>Кредиты без финансовой защиты</h1>



<p>Финансовая защита кредита – пакет услуг, который финансовые учреждения предлагают своим клиентам<br>
   при заключении договоров. Банки заинтересованы в увеличении своей прибыли, поэтому стараются<br>
   увеличить стоимость обслуживания долга для каждого клиента и продать как можно больше услуг.<br>
   Поэтому задача клиента – самому решить, нужны ли ему дополнительные пункты в кредитном договоре.<br>
   Финансовая защита – это соглашение страхования заемных денег. Может быть добровольным и обязательным.<br>
   В некоторых случаях идет обязательным условиям выдачи кредита, в иных – предлагается на усмотрение клиента.</p>
{% endblock %}

{% include 'main/footer.html' %}